/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(540deg, #014040, #137953, #014040, #001f1f, black);
    overflow: hidden;
}

.logo-calc {
    margin: 30px;
    color: #5ABF90;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.logo-calc i {
    color: #5abf9091;
}

.section-calc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-transform: uppercase;
    font-weight: bold;
    color: #014040;
}

.box-calc {
    display: flex;
    flex-direction: column;
    background-color: #168C61;
    width: 900px;
    border-radius: 15px;
}

.top-box {
    padding: 30px;
    color: #014040;
    text-align: center;
    font-size: 23px;
    border-bottom: 3px dotted #01404069;
}

.main-box {
    padding: 30px;
    font-size: 18px;
}

.main-box form {
    display: flex;
    flex-direction: column;
}

.main-box input, .main-box button {
    margin: 10px;
    padding: 9px;
    color: #168C61;
    font-size: 18px;
    font-weight: bold;
    background-color:#014040;
    border: none;
    border-radius: 5px;
}


.main-box input, .main-box button:focus {
    outline: none;
}

.main-box input::-webkit-outer-spin-button, .main-box input::-webkit-inner-spin-button {
    display: none;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button, .reset {
    width: 100px;
}

.buttons button:hover, .reset:hover {
    background-color:#001f1f;
    cursor: pointer;
}

.error-price, .error-tip {
    display: none;
}

.copyright {
    margin: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: end;
    color: #168C61;
}

@media (max-width: 576px) {
  
    .logo-calc {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .box-calc {
        width: 290px;
    }

    .copyright {
        text-align: center;   
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .logo-calc {
        display: flex;
        justify-content: center;
    }

    .box-calc {
        width: 500px;
    }

    .copyright {
        text-align: center;   
    }
}
